.main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.container{
    display:grid;
    grid-column: 2/3;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5px;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-items: center;
    border-radius:30px;
}

.box{
    height:180px;
    width:180px;
    background-color:chocolate;
    border-radius: 15px;
    font-size: 150px;
    color:darkgreen;
    box-shadow: 5px 5px black;
    
}
.box:hover{
    height:180px;
    width:180px;
    background-color:rgb(255, 106, 0);
    border-radius: 15px;
    font-size: 150px;
    color:darkgreen;
    box-shadow: 5px 5px black;
    
}


body{
    margin:0px 0px;
    padding:0px 0px;
    background-color:cadetblue;
}

h1{
    margin:0px 0px;
    padding:0px 0px;
    text-align: center;
    font-size: 120px;
    color:rgb(216, 223, 19);
}

.win{
    font-size: 180px;
    color:cornsilk;
    background-color: rgb(5, 244, 68);
    height:auto;
    width:100%;
    grid-column-start: 1;
    grid-column-end: 4;
    position: absolute;
    top:200px;
    text-align: center;
}

.control{
    margin:20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.position{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5px;
}
.reset,.new-game{
    
    height:70px;
    width:280px;
    font-size: 50px;
    color:coral;
    border-radius:50px;
    background-color:darkcyan;
    border: 5px solid rgb(255, 255, 255);
}

